@import url("base.css");

body {
  width: 100%;
  max-width: 48rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

nav a {
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
}

.hover-bg:hover {
  background-color: var(--color-bg-light);
  transition: background-color 0.5s var(--ease-soft);
}

.font-bold {
  font-weight: bold;
}
.font-title {
  font-family: var(--font-title);
}
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.no-underline {
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.breadcrumbs span {
  color: var(--color-text-primary);
}

article img {
  width: 100%;
  border-radius: 0.5rem;
}
